.main-view {
  &__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    margin-bottom: 20px;
    @media (max-width: 1439px) {
      margin-bottom: 15px;
    }
    @media (max-width: 1023px) {
      margin-bottom: 10px;
    }
  }
  &__link {
    font-family: "Quicksand", sans-serif;
    font-size: 33px;
    color: #1f1f1f;
    text-transform: capitalize;
    @media (max-width: 1439px) {
      font-size: 27px;
    }
    @media (max-width: 1023px) {
      font-size: 20px;
    }
    .blue {
      color: #289df6;
    }
  }
  &__subtitle {
    font-family: Roboto;
    font-size: 20px;
    color: #1f1f1f;
    margin-bottom: 10px;
    @media (max-width: 1023px) {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
  &__wrapper {
    width: 600px;
    height: 256px;
    background: #1f1f1f;
    box-shadow: $shadow;
    border-radius: 48px;
    position: relative;
    padding: 48px 0;
    text-align: center;
    margin-bottom: 24px;
    @media (max-width: 1439px) {
      width: 520px;
      height: 230px;
      border-radius: 40px;
      padding: 25px 0;
      margin-bottom: 15px;
    }
    @media (max-width: 1023px) {
      width: 450px;
      height: 200px;
      border-radius: 25px;
      padding: 15px 0;
      margin-bottom: 10px;
    }
    @media (max-width: 767px) {
      width: 70%;
      height: 200px;
      border-radius: 25px;
      padding: 10px;
      margin-bottom: 10px;
    }
    @media (max-width: 500px) {
      width: 95%;
      height: 160px;
    }
    &-weight {
      @media (max-width: 1439px) {
        height: 180px;
      }
      @media (max-width: 500px) {
        height: 110px;
        margin-bottom: 70px;
      }
    }
  }
  &__wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .height-text,
  .weight-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    color: $white;
    position: relative;
    @media (max-width: 1439px) {
      font-size: 50px;
      line-height: 100%;
    }
    @media (max-width: 1023px) {
      font-size: 40px;
      line-height: 100%;
    }
  }
  .height-text::after,
  .weight-text::after {
    content: "cm";
    font-size: 30px;
    position: absolute;
    bottom: -45px;
    right: 50%;
    transform: translateX(50%);
    @media (max-width: 1439px) {
      font-size: 27px;
    }
    @media (max-width: 1023px) {
      font-size: 20px;
      bottom: -30px;
    }
  }
  .weight-text::after {
    content: "kg";
  }
  .weight-text {
    margin: 30px 110px 0 110px;
    @media (max-width: 1023px) {
      margin: 45px 60px 0 60px;
    }
    @media (max-width: 1023px) {
      margin: 0 60px 0 60px;
    }
  }
  input[type="range"] {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 46px;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    max-width: 400px;
    @media (max-width: 1023px) {
      bottom: 23px;
      height: 38px;
      max-width: 319px;
    }
    @media (max-width: 500px) {
      width: 90%;
    }
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 3px #000000;
    background: #d9d9d9;
    border-radius: 5px;
    border: 0px solid $white;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 0px solid #ffffff;
    height: 39px;
    width: 39px;
    border-radius: 22px;
    background: #d9d9d9;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15.5px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #d9d9d9;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 3px #000000;
    background: #d9d9d9;
    border-radius: 5px;
    border: 0px solid $white;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 0px solid #ffffff;
    height: 39px;
    width: 39px;
    border-radius: 22px;
    background: #d9d9d9;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #d9d9d9;
    border: 0px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000000;
  }
  input[type="range"]::-ms-fill-upper {
    background: #d9d9d9;
    border: 0px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000000;
  }
  input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 0px solid #ffffff;
    height: 39px;
    width: 39px;
    border-radius: 22px;
    background: #d9d9d9;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #d9d9d9;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #d9d9d9;
  }

  .btn {
    display: block;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: red;
    position: relative;
    margin-top: 30px;
    @media (max-width: 1023px) {
      width: 30px;
      height: 30px;
      margin-top: 50px;
    }
    @media (max-width: 500px) {
      margin-top: 30px;
    }
    &.decrement {
      background: transparent url(../../images/arrow-left.png) 100% / cover
        no-repeat;
    }
    &.increment {
      background: transparent url(../../images/arrow-right.png) 100% / cover
        no-repeat;
    }
  }
  .btn-calculate {
    width: 600px;
    height: 72px;
    background: #1f1f1f;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25),
      inset 4px 4px 4px rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: $white;
    margin-bottom: 50px;
    cursor: pointer;
    @media (max-width: 1439px) {
      width: 580px;
    }
    @media (max-width: 1023px) {
      width: 450px;
    }
    @media (max-width: 767px) {
      width: 70%;
    }
    @media (max-width: 767px) {
      width: 95%;
    }
  }

  &__result {
    position: absolute;
    top: 0;
    left: -1000%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    &-wrapper {
      text-align: center;
    }
    &.show {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;
      visibility: visible;
      opacity: 1;
      transition: all 0.3s;
    }
    p {
      &:first-child {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 900;
        font-size: 59px;
        line-height: 69px;
        @media (max-width: 1439px) {
          font-size: 48px;
          line-height: 1.2;
        }
      }
      &:last-child {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 59px;
        line-height: 69px;
        letter-spacing: 0.06em;
        @media (max-width: 1439px) {
          font-size: 48px;
          line-height: 1.2;
        }
      }
    }
    .title-result {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 200px;
      line-height: 238px;
      @media (max-width: 1439px) {
        font-size: 120px;
        line-height: 1.2;
      }
      @media (max-width: 14023px) {
        font-size: 80px;
      }
    }
  }
  &__wrapper {
    text-align: center;
  }
  .btn-close {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    @media (max-width: 500px) {
      left: 0;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
